body {	
	margin: 0px; 
	padding: 0 0 10px 0;
	font-size: 1.2em; 
}

.editor {
	width: 98%;  
	width: calc(100% - 4px);
}

input[type="text"], input[type="password"] {
	height: 25px;
}

.phone-date-editor .editor {
	width: 90%;
}

.ox-frame {
	margin: 7px;
	padding: 5px 15px 8px 8px; 
	float: none;
}

.ox-bottom-buttons {
	padding: 10px 0px 0px 0px;
	margin: 7px 12px 0px 21px; 
}

.phone-detail-element {
	padding: 5px 10px 10px 10px;
	white-space: nowrap;
}

.ox-label {
	font-size: 80%;
}

input[type="text"], input[type="password"], input[type="file"], select, textarea, 
.ui-widget input[type="text"], .ui-widget input[type="password"], .ui-widget input[type="file"], 
.ui-widget select, .ui-widget textarea {
	font-size: 16px;
}

.ox-descriptions-list i {
 	right: 40px; 
}

#xava_loading2 {
	display: none;
}

#modules_list, #modules_list_outbox, #modules_list_core { 
	width: 100%;  
}

.ox-button-bar, #modules_list_header {
	padding: 15px;
	border: none;
	text-align: left;
	font-size: 20px;
	font-weight: normal;
	position: fixed;
	width: calc(100% - 31px);
	top: 0;
}

.phone-title {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 110px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;  
}

.ox-view {
	margin-top: 55px;
}

.ox-button-bar i, #modules_list_header i {
	font-size: 24px;
	margin-right: 15px;
}

#modules_list_header a {
	padding: 3px;
}

#search_modules, #filter_list {  
	margin: 0px 0px 12px 0px; 
	padding: 5px;
}

#search_modules {  
	margin-top: 57px; 
}

#search_modules_text, #filter_list_text {
	border-radius: 25px;
	padding-left: 10px;
}

#search_modules input, #filter_list input {
	width: calc(100% - 18px);
}

#modules_list .selected {
	background: transparent; 		
	border-right: none;
}

A:hover .module-row, A:hover .folder-row, A:hover #organizations_index { 
	background: transparent; 
}

.module-row:hover .module-name {   
	color: initial;
}

.folder-row {
	padding-right: 0px;	
}

.phone-list a {
	color: inherit;
}

.phone-list-element {
	padding: 10px;
}

.phone-list-element-check {
	float: right;
	margin-top: 2px;
	margin-left: 5px; 
}

.phone-list-element-header {
	font-weight: bold;
	display: inline; 
}

.phone-list-element-subheader {
	display: inline;
	float: right;
}
			
.phone-list-element-content {
	font-size: 70%;
}

.phone-list a:focus, .phone-list a:hover {
    text-decoration:none;
}

#load_more_elements {
	margin-left: 5px;
}

#loading_more_elements {
	font-weight: bold;
	padding: 6px;
	margin-left: 5px;
}

#loading_more_elements i {
	float: right;
	margin-right: 5px;
}

#xava_loading {
	left: calc(50% - 70px); 
}

.phone-frame-title {
	margin: 15px 7px -7px 7px; 
}

.phone-frame-header {
	margin: 10px 5px 25px 7px;
}

.phone-subcontroller {
	
}

.phone-frame-action, .phone-frame-header .ox-subcontroller-button, .phone-reference-actions {
	float: right;
	margin-left: 10px;
}

.ox-action-link, .phone-frame-action, .ox-subcontroller-button {
	text-transform: uppercase;
	font-size: 70%;
	font-weight: bold;
}

.ox-bottom-buttons .ox-subcontroller-button {
	margin-left: 10px;
}

#load_more_elements {
	text-transform: none;
	font-size: 100%;
}

.phone-reference-actions {
	margin-right: -12px;
}

.ox-frame .phone-list-element {
	padding-right: 0px;
}



.ox-section { 
	font-size: 70%;
	overflow-x: scroll;
	margin: 8px 0px 0px 0px;   
}

.ox-section td {
	width: calc(100vw - 10px);
	white-space: nowrap;
	display: flex;
}

.ox-errors-wrapper, .ox-messages-wrapper {
	background: white;
	box-shadow: 4px 0px 9px lightgray;
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;	
}

.ox-errors-wrapper i, .ox-messages-wrapper i {
	position: absolute;
	right: 5px;
}

.ox-errors, .ox-messages, .ox-infos, .ox-warnings {
	background: white;
	padding: 5px 15px 5px 5px;
}

.ox-errors {	
	color: #DC4A38;
}

.ox-messages {	
	color: #6fc664;
}

.ox-infos {	
	color: #a1a4a5;
}

.ox-warnings {	
	color: #f6dc5c;
}

.ox-subcontroller {
	font-size: 90%;
	margin-top: 5px;
}

.ox-subcontroller-button a {
	text-decoration: none;
}

.ox-subcontroller-select a {
	background: transparent; 
}

.ox-subcontroller-button i:first-of-type, .ox-subcontroller a span {
	display: none;
}

span[class="phone-list-element-check"] > input[name*="_Index__xava_selected"] {
	display: none;
}

/* To adjust calendar position for dates */
input[type="text"] + a {
	float: right;
	top: -31px;
	left: 0px;	
}

.ox-date-calendar input {
	padding-right: 5px;
}

.phone-dropdown-button {
	float: right;
}

.phone-dropdown-button i {
	margin-right: 0px;
	margin-left: 5px;
}

.phone-dropdown-button.selected i {
	color: white;
}

.phone-dropdown {
 	padding: 5px;
  	position: fix;
  	right: 10px;
  	top: 50px;
    display: none; 
    box-shadow: 0px 0px 7px black;
    width: initial; 
}

.phone-dropdown a {
	color: inherit;
	text-decoration: none;
}

.phone-dropdown div {	
	padding: 7px;
	display: grid; 
}

.phone-list-order div {	
	padding-left: 30px;
}

.phone-dropdown div i {
	position: relative;
	left: -13px;
	margin: -15px;
	color: white !important;
	background: transparent !important; 
	font-weight: bold;
}

.ox-list-mode .ox-button-bar a[id*="new"] {
	color: inherit;
	background: inherit; 
	border: inherit;
}

.ox-image, .ox-file, .ox-files, .filepond--item, .ox-file .filepond--item, .ox-files .filepond--item {
	width: inherit;
}

.ox-element-collection table {
	padding-top: -20px;
	width: calc(100% - 12px);
}

.ox-element-collection tr{
    display: inline;
}

.ox-element-collection td{
   display: block;
   text-align: left !important;
   height: 60px;
}

.ox-element-collection .ox-list-header {
   display: none;
}

.ox-element-collection td:first-of-type {
	float: right;
	height: 25px;
}

.ox-element-collection td:last-of-type {
	margin-bottom: 25px;
}

.ox-element-collection .ox-label {
	font-size: small;
}
