/*
Put here your own style
*/

#welcome .ox-bottom-buttons a {
	font-size: medium;
}

#home_screenshot  {
	margin-top: 20px;
	text-align: center;
}

#home_screenshot img {
	max-width: 100%;
	box-shadow: 0px 1px 3px #033649;
	border-radius: 10px;
}

#logo {
	margin-top: 110px;
	margin-bottom: 60px;
	text-align: center;
}

#logo div {
	color: #E8DDCB;
	display: inline;
	padding: 0px 20px 10px 20px;
	background: #CDB380;
	font-size: 250%;
    box-shadow: 0px 0px 9px #CDB380;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

#logo span {
	color: white;
}

.mobile #logo div {
	font-size: 150%;
}

.group {   
	text-align: left;
	padding: 0px;
	margin-bottom: 80px;
	font-size: 90%;
	font-weight: lighter;
}


.block {
	max-width: 950px;
	margin: 30px auto 60px auto;
}

.block h4 {
	color: #033649;
	margin-bottom: -10px;
}

.mobile .block {
	margin: 30px 0px 30px 0px;
}